<style>
    .row .col-md-6 {
        padding-left: 25px !important;
        padding-right: 25px !important;
    }

</style>

<div class="modal-body" id="modalBody">
    @using (Html.BeginForm("Create", "Perfis", FormMethod.Post, new { @enctype = "multipart/form-data", @class = "form-horizontal" }))
    {
        <div class="row g-3">
            <div class="col-md-6 col-xs-12">
                <div class="form-group custom-input">
                    <label for="txtNome">Nome Completo</label>
                    <div class="input-wrapper">
                        <input type="text" id="txtNome" name="txtNome" class="search-input" placeholder="Digite o seu nome" />
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xs-12">
                <div class="form-group custom-input">
                    <label for="txtEmail">E-mail</label>
                    <div class="input-wrapper">
                        <input type="email" id="txtEmail" name="txtEmail" class="search-input" placeholder="Digite o seu e-mail" />
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xs-12">
                <div class="form-group custom-input">
                    <label for="txtCargo">Cargo</label>
                    <div class="input-wrapper">
                        <input type="text" id="txtCargo" name="txtCargo" class="search-input" placeholder="Digite o seu cargo" />
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xs-12">
                <div class="form-group custom-input">
                    <label for="Cargo">Senha</label>
                    <div class="input-wrapper">
                        <input type="password" id="txtSenha" name="txtSenha" class="search-input" placeholder="Digite a sua senha" />
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xs-12">
                <label class="label-title">Foto Usuário</label>
                <div class="custom-file-upload" style="margin-bottom:15px">
                    <label for="arquivo" class="upload-label">
                        <img src="~/img/imgsite/mdi_attach-file.png" style="margin-top:4px; height: 20px;" class="icon-nav" alt="Mais" />
                        <span class="text-bold">Adicionar imagem</span>
                    </label>
                    <span class="divider">|</span>
                    <span id="file-name-imagem" class="file-name">Nenhum arquivo adicionado</span>
                    <input type="file" id="arquivo" name="arquivo" accept="image/*" />
                </div>
            </div>

            <div class="col-md-12 col-xs-12">
                <div class="form-group custom-input">
                    <label for="permissao">Configurar Permissões</label>

                    <div class="permissions-box">
                        <table class="permissions-table">
                            <thead>
                                <tr>
                                    <th>Área</th>
                                    <th>Permissão</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (ViewData["listaModulo"] != null && ((List<RaquelMenopausa.Cms.Models.Modulo>)ViewData["listaModulo"]).Count > 0)
                                {
                                    foreach (var item in (List<RaquelMenopausa.Cms.Models.Modulo>)ViewData["listaModulo"])
                                    {
                                        <tr>
                                            <td>@item.Nome</td>
                                            <td>
                                                <input type="checkbox" value="@item.Id" id="modulo_@item.Id" name="modulosSelecionados" />
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="2" class="text-center">Nenhum módulo encontrado</td>
                                    </tr>
                                }
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>



        </div>
        <div class="buttons-container">
            <button type="button" data-dismiss="modal" class="btn-cancelar">CANCELAR</button>
            <button type="submit" class="btn-save">CRIAR USUÁRIO</button>
        </div>


    }
</div>

