<form id="formCreateUsuario">
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <div class="form-group custom-input">
                <label for="Nome">Nome Completo</label>
                <div class="input-wrapper">
                    <input type="text" id="Nome" name="Nome" class="search-input" placeholder="Digite o seu nome" />
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xs-12">
            <div class="form-group custom-input">
                <label for="Email">E-mail</label>
                <div class="input-wrapper">
                    <input type="email" id="Email" name="Email" class="search-input" placeholder="Digite o seu e-mail"/>
                </div>
            </div>
        </div>

        <div class="col-md-12 col-xs-12">
            <div class="form-group custom-input">
                <label for="Cargo">Cargo</label>
                <div class="input-wrapper">
                    <input type="text" id="Cargo" name="Cargo" class="search-input" placeholder="Digite o seu cargo" />
                </div>
            </div>
        </div>

        <div class="col-md-12 col-xs-12">
            <div class="form-group custom-input">
                <label for="permissao">Configurar Permissões</label>

                <div class="permissions-box">
                    <table class="permissions-table">
                        <thead>
                            <tr>
                                <th>Área</th>
                                <th>Visualizar</th>
                                <th>Editar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Gerenciador Usuárias</td>
                                <td><input type="checkbox" name="gerenciar_usuarios_visualizar"></td>
                                <td><input type="checkbox" name="gerenciar_usuarios_editar"></td>
                            </tr>
                            <tr>
                                <td>Gerenciador de Conteúdos</td>
                                <td><input type="checkbox" name="gerenciar_conteudos_visualizar" checked></td>
                                <td><input type="checkbox" name="gerenciar_conteudos_editar"></td>
                            </tr>
                            <tr>
                                <td>Permissões</td>
                                <td><input type="checkbox" name="permissoes_visualizar"></td>
                                <td><input type="checkbox" name="permissoes_editar"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>



    </div>
    <div class="buttons-container">
        <button type="button" onclick="goback()" class="btn-cancelar">CANCELAR</button>
        <button type="submit" class="btn-save">CRIAR USUÁRIO</button>
    </div>


</form>
