
*{
    font-family: 'Open Sans', sans-serif !important;
}


.navbar{
    margin-bottom: 0px;
    border-radius: 0px;
    background-color: #485B6E;
    border-color: #485B6E;
}
.navbar .container{
    margin-top: 20px;
}
.navbar-inverse .navbar-brand{
    color: #ECF0F1 !important;
    font-size: 25px;
}
button .navbar-toggle{
    background: #ECF0F1;
    color:#ECF0F1;
}
.navbar-toggle{
    border-color: #ECF0F1 !important;
}
.navbar .navbar-nav a{
    color: #BDC3C7 !important;
}
.updates-banner{
    background-color: #fc0;
    text-align: center;
}
.updates-banner .message{
    color: black !important;
    font-size: 17px;
    margin: 0px;
}
.updates-banner p{
    padding: 10px;
}
.jumbotron{
    text-align: center;
    background-color: #485B6E;
}
.btn-info{
    border-radius: 0px;
    padding: 17px 23px;
    background-color: #2ECC71;
    border-color: #2ECC71;
}
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info:visited{
    background-color:#27AE60;
    border-color: #27AE60;
}

h1{
    font-size: 4rem!important;
    color: #ECF0F1 !important;
}
p{
    font-size: 20px;
    color: #BDC3C7 !important;
}

html, body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    background-color: #ECF0F1;
}
.notJumbo h1, .notJumbo h2, .notJumbo p{
    color: black !important;
    font-weight: 300;
}

.btn-default-custom{
    border-radius: 0px;
    margin-top: 10px;
}

.drop10{
    margin-top: 10px;
}
