@{
    ViewBag.Title = "Painel Administrador | " + ViewBag.TitlePage;
    ViewBag.Description = ViewBag.DescriptionPage;
    ViewBag.FacebookImage = ViewBag.DomainSite + "content/upload/config/" + ViewBag.ShareImg;
    ViewBag.Url = ViewBag.DomainSite;
    Layout = "~/Views/Shared/_LayoutError.cshtml";
}

<div class="content-wrapper">
    <section class="content content-dashboard">
        <div class="row" style="margin-top:100px">
            <div class="col-lg-12 text-center">
                <h1 style="font-size: 50px; font-family: 'Century Gothic',sans-serif; ">Usuário sem permissão!</h1>
            </div>
        </div>
    </section>
</div>